html{
	scroll-behavior: smooth;
}

body{
	/* -- Variable -- */
	--menu-selected: #14141c;
	--menu-background: #1f1e2c;
	--content-background: #edf0f7;
	--non-color: rgba(0,0,0,0);
	
	margin: 0;
	overflow-x: hidden;
	background-color: var(--content-background);
	font-family: Arial;
	font-size: 15px;
}

.all{
	position: relative;
	min-height: 100vh;
}

a{
	text-decoration: none;
}

/* Style inputs same as Select2 */

input[type=text],
input[type=number],
input[type=date],
input[type=datetime-local] {
	line-height: 25px;
	padding-left: 8px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #aaa;
	font-family: Arial;
	font-size: 15px;
}

::placeholder {
	color: #999;
	opacity: 1;
}

/* Go to top Panel */

.go_to_top,
.toggle_admin_modal{
	display: none;
	position: fixed;
	right: 30px;
	z-index: 8;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.3);
	color: white;
	cursor: pointer;
	border-radius: 10px;
	font-size: 18px;
	width: 50px;
	height: 50px;
	transition: background-color 0.3s;
}

.go_to_top:hover,
.go_to_top:focus,
.toggle_admin_modal:hover,
.toggle_admin_modal:focus{
	background-color: rgba(0,0,0,0.6);
}

.go_to_top{
	bottom: 20px;
}

.toggle_admin_modal{
	bottom: 75px;
}

.toggle_admin_modal img{
	width: 20px;
	filter: invert(100);
}

/* -- Overlay -- */

.overlay,
.overlay_menu,
.overlay_form {
	display: none;
	position: absolute;
	z-index: 7;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
	animation-name: fadeIn;
	animation-duration: 1s;
}

/* -- Form Popup -- */
.form_popup {
	display: none;
	position: absolute;
	z-index: 8;
	width: 40%;
	top: 150px;
	left: 30%;
	border-radius: 10px;
	padding: 15px;
	padding-top: 10px;
	background-color: #F6F6F6;
	animation-name: fadeIn;
	animation-duration: 1s;
}

.form_popup_header {
	width: 100%;
	height: 30px;
	font-size: 20px;
	font-weight: bold;
}

.form_popup_close_button {
	margin-left: 15px;
	color: black;
	float: right;
	font-weight: bold;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.form_popup_close_button:hover {
	opacity: 0.5;
}

.form_popup_content {
	margin-top: 10px;
}

.form_popup_table {
	width: 100%;
}

.form_popup_table tr td.form_popup_td_label {
	width: 35%;
}

.form_popup_table tr td.form_popup_td_input {
	width: 65%;
}

/* --- Main Menu --- */

.menu{
	position: fixed;
	overflow: auto;
	z-index: 8;
	background-color: var(--menu-background);
	color: white;
	width: 250px;
	height: 100%;
	transition: left 0.6s ease;
}

.menu::-webkit-scrollbar {
	position: absolute;
	right: 0;
	width: 7px;
}

.menu::-webkit-scrollbar-track {
	background: #fff0;
}

.menu::-webkit-scrollbar-thumb {
	background: #ccc2;
	border-radius: 20px;
}

.menu::-webkit-scrollbar-thumb:hover {
	background: #ccc;
}

.div_title{
	background-color: var(--menu-selected);
	margin-bottom: 30px;
}

.navigation{
	display: none;
}

.title{
	padding: 25px;
	padding-left: 30px;
	font-size: 20px;
}

.title a,
.title a:visited,
.title a:active,
.title a:active{
	color: white;
}

.menu_h1{
	position: relative;
	height: 50px;
}

.menu_text_h1{
	color: white;
	position: absolute;
	top: 15px;
	padding-left: 50px;
}

.menu_mini_h1{
	color: white;
	padding-top: 15px;
	padding-left: 50px;
	padding-bottom: calc(50px - 18.4px - 15px);
}

.menu_group_h2{
	display: none;
}

.menu_mini_h2{
	height: 35px;
	color: white;
	padding-left: 70px;
	padding-top: 15px;
}

.menu_h1:hover, .menu_h2:hover{
	background-color: var(--menu-selected);
	cursor: pointer;
}

.content_big{
	position: relative;
}

/* --- Header --- */

.header{
	position: relative;
	z-index: 5;
	background-color: white;
	width: 100%;
	height: 70px;
}

.header_menu_toggle{
	position: absolute;
	padding: 5px;
	top: 15px;
	left: 20px;
	cursor: pointer;
	display: none;
	filter: grayscale(0.7);
	transition: filter 0.2s;
}

.header_menu_toggle:hover{
	filter: grayscale(0);
}

.header_menu_toggle img{
	width: 30px;
}

.header_username{
	position: absolute;
	height: 30px;
	border-radius: 15px;
	top: 15px;
	right: 25px;
	padding: 10px 15px 0 15px;
	transition: 0.3s;
}

.header_username:hover,
.header_username:focus{
	background-color: rgba(0,0,0,0.3);
	cursor: pointer;
}

/* Sub Header - Content */

.sub_header{
	position: sticky;
	top: 0;
	z-index: 5;
	margin-top: 2px;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
	background-color: white;
	width: 100%;
	height: 40px;
	padding: 10px 25px;
}

.header_navigation{
	position: absolute;
	top: 20px;
}

.search{
	position: absolute;
	top: 5px;
	right: 90px;
}

.short_search{
	padding-top: 10px;
}

.content{
	position: relative;
	overflow: auto;
}

/* Modal Admin */

.modal_admin{
	position: fixed;
	z-index: 10;
	background-color: rgb(150,150,150);
	height: 100%;
	width: 300px;
	transition: right 0.6s ease;
	right: -300px;
}

.admin_avatar{
	width: 100px;
	margin: auto;
	padding-top: 30px;
}

.admin_avatar img{
	width: 100px;
}

.admin_info{
	text-align: center;
}

.admin_action{
	background-color: blue;
}

.admin_action_button{
	background-color: white;
}

/* Content Grid CSS - Apply with corresponding class */
/* grid-area: row-start / col-start / (row-end-1) / (col-end-1) */

.grid_1,
.grid_2,
.grid_3{
	display: grid;
	padding: 30px;
}

.grid_2,
.grid_3{
	grid-gap: 25px 60px; /* Plus Child Padding*2 on vertical gaps */
}

.grid_1{
	grid-gap: 25px 30px;
	grid-template-columns: calc(100% - 15px*2)
}

/* From .grid_2 width of columns Fomula: 100%/nums_column - Grid Gap (1)/nums_column*(nums_column - 1) - Child Padding*2 */
.grid_2{
	grid-template-columns: calc(100%/2 - 30px/2 - 15px*2) calc(100%/2 - 30px/2 - 15px*2)
}

.grid_3{
	grid-template-columns: calc(100%/3 - 30px/3*2 - 15px*2) calc(100%/3 - 30px/3*2 - 15px*2) calc(100%/3 - 30px/3*2 - 15px*2)
}

.grid_1 div.grid_content,
.grid_2 div.grid_content,
.grid_3	div.grid_content{
	background-color: white;
	width: 100%;
	border-radius: 12px;
	padding: 15px;
}

/* -- Notification -- */
.alert {
	padding: 10px;
	background-color: #f44336;
	color: white;
	margin-bottom: 15px;
	border-radius: 3px;
}

.success {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	margin-bottom: 15px;
	border-radius: 3px;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}

.validate_msg{
	color: red;
}

/* -- Pagination -- */
.pagination{
	list-style: none;
    display: flex;
	justify-content: center;
	text-align: center;
}

.pagination li{
	width: 25px;
	height: 25px;
	line-height: 25px;
	float: left;
	padding: 2px 4px;
	margin: 0 4px;
	text-decoration: none;
	border-radius: 5px; 
	transition: background-color .3s;
}

.prev_next_pagination{
	width: 40px !important;
}

.pagination a{
	color: black;
}

.pagination li.active {
	background-color: #555;
	color: white;
}

.pagination li.disabled {
	color: grey;
}

.pagination li.active:hover {
	cursor: default;
}

.pagination li.disabled:hover {
	cursor: not-allowed;
}

.pagination li:hover:not(.active):not(.disabled) {
	background-color: #ddd;
}

.pagination_info_right{
	width: auto !important;
	line-height: 27px;
	color: grey;
	position: absolute;
	right: 55px;
	user-select: none;
}

.pagination_info_right:hover{
	cursor: default;
}

.pagination_info_right p{
	margin-top: 3px;
}

/* Statistical and Welcome page */
.statistical_grid{
	position: relative;
	height: 100px;
}

.statistical_grid span:nth-of-type(1){
	position: absolute;
	z-index: 1;
	width: 45%;
	top: 0;
	font-size: 70px;
	line-height: 100px;
}

.statistical_grid span:nth-of-type(2){
	text-align: right;
	position: absolute;
	z-index: 1;
	width: 55%;
	top: 15px;
	right: 20px;
	font-size: 30px;
}

.statistical_grid a{
	position: absolute;
	z-index: 1;
	bottom: 15px;
	right: 20px;
}

.statistical_grid a,
.statistical_grid a:visited,
.statistical_grid a:active,
.statistical_grid a:active{
	color: red;
}

.statistical_grid a:hover:after{
	content: ' >>>'
}

.statistical_grid img{
	position: absolute;
	filter: invert(50%);
	opacity: 0.3;
	left: 30%;
	width: 100px;
}

/* Invoice Details */
.invoice_container {
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.invoice {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.13);
	padding: 50px 30px 30px;
}
.invoice header {
	overflow: hidden;
	margin-bottom: 60px;
}
.invoice header section:nth-of-type(1) {
	float: left;
}
.invoice header section:nth-of-type(1) h1 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	color: #344760;
	font-size: 25px;
	margin-top: 0;
	margin-bottom: 5px;
}
.invoice header section:nth-of-type(1) span {
	color: #b7bcc3;
	font-size: 14px;
	letter-spacing: 2px;
}
.invoice header section:nth-of-type(2) {
	float: right;
}
.invoice header section:nth-of-type(2) span {
	font-size: 21px;
	color: #b7bcc3;
	letter-spacing: 1px;
}
.invoice header section:nth-of-type(2) span:before {
	content: "#";
}
.invoice main {
	border: 1px dashed #b7bcc3;
	border-left-width: 0px;
	border-right-width: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.invoice main section {
	overflow: hidden;
}
.invoice main section span {
	float: left;
	color: #344760;
	font-size: 16px;
	letter-spacing: 0.5px;
}
.invoice main section span:nth-of-type(1) {
	width: 45%;
	margin-right: 5%;
}
.invoice main section span:nth-of-type(2) {
	width: 15%;
	margin-right: 5%;
}
.invoice main section span:nth-of-type(3) {
	width: 12.5%;
	margin-right: 5%;
}
.invoice main section span:nth-of-type(4) {
	width: 12.5%;
}
.invoice main section span:nth-of-type(2),
.invoice main section span:nth-of-type(3),
.invoice main section span:nth-of-type(4) {
	text-align: right;
}
.invoice main section:nth-of-type(1),
.invoice main section:nth-of-type(4) {
	margin-bottom: 10px;
	text-transform: uppercase;
}
.invoice main section:nth-of-type(1) span,
.invoice main section:nth-of-type(4) span {
	color: #939CA8;
	font-size: 18px;
	font-weight: bold;
}
.invoice main section:nth-of-type(2) span,
.invoice main section:nth-of-type(5) span {
	color: #A6AEB9;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
}
.invoice main section:nth-of-type(3) figure:last-of-type {
	border: 1px dotted #b7bcc3;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	padding-bottom: 10px;
}
.invoice main section:nth-of-type(2),
.invoice main section:nth-of-type(3),
.invoice main section:nth-of-type(5),
.invoice main section:nth-of-type(6) {
	margin-bottom: 20px;
}
.invoice main section:nth-of-type(3) figure,
.invoice main section:nth-of-type(6) figure {
	overflow: hidden;
	margin: 0;
	margin-bottom: 20px;
	line-height: 160%;
}
.invoice main section:nth-of-type(3) figure:last-of-type,
.invoice main section:nth-of-type(6) figure:last-of-type {
	margin-bottom: 0 !important;
}
.invoice main section:nth-of-type(7) {
	border: 2px solid #b7bcc3;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	padding-top: 10px;
	margin-bottom: 20px;
}
.invoice main section:nth-of-type(7) span:nth-of-type(1) {
	width: 80%;
	font-weight: bold;
}
.invoice main section:nth-of-type(7) span:last-of-type {
	margin-right: 0 !important;
}
.invoice footer {
	text-align: right;
	margin-top: 30px;
}
.invoice footer a {
	font-size: 19px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 1px;
}
.invoice footer a:after {
	content: "";
	width: 0%;
	height: 4px;
	position: absolute;
	right: 0;
	bottom: -10px;
	background-color: inherit;
	-webkit-transition: width 0.2s ease-in-out;
	-moz-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
}
.invoice footer a:hover:after {
	width: 100%;
}
.invoice footer a:nth-of-type(1) {
	color: #b7bcc3;
	margin-right: 30px;
}
.invoice footer a:nth-of-type(1):after {
	background-color: #b7bcc3;
}
.invoice footer a:nth-of-type(2) {
	color: #fe8888;
}
.invoice footer a:nth-of-type(2):after {
	background-color: #fe8888;
}

/* -- Others -- */
.form_table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;
}

.form_table th{
	background-color: #353a40;
	color: white;
	padding: 4px 0;
}

.form_table tr:nth-child(even) {
	background-color: #eee;
}

.form_table tr:nth-child(odd) {
	background-color: #d6d6d6;
}

.form_table tr:hover{
	background-color: #b5b5b5;
}

.form_button_success,
.form_button_alternative,
.form_button_redirect,
.form_button_warning,
.form_button_return,
.form_button_danger {
	border: none;
	border-radius: 3px;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 13px;
	margin: 3px 2px;
	cursor: pointer;
	transition: 0.3s;
}

.form_button_success:hover,
.form_button_alternative:hover,
.form_button_redirect:hover,
.form_button_warning:hover,
.form_button_return:hover,
.form_button_danger:hover {
	opacity: 0.8;
}

.form_button_success{
	background-color: #4caf50; /* Green */
}

.form_button_alternative{
	background-color: #008cba; /* Blue */
}

.form_button_redirect{
	background-color: #555; /* Black */
}

.form_button_warning{
	background-color: #ec9720; /* Yellow */
}

.form_button_return{
	background-color: #ccc; /* White Grey */
	color: black;
}

.form_button_danger{
	background-color: #be332c; /* Red */
}

.button_disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/* --- Javascript CSS --- */
.collapsible:after{
	content: "\25BA";
	font-size: 13px;
	float: right;
	margin-right: 20px;
	margin-top: 18px;
}

.menu_active{
	background-color: var(--menu-selected);
}

.menu_active:after{
	content: "\25BC";
}

.show{
	display: block;
}

.form_table_tr_selected{
	background-color: #9DABC7 !important;
}

/* --- Jquery CSS --- */
#ui-datepicker-div{
	z-index: 10 !important;
}

.select2-selection__rendered{
	margin: 0;
}

.select2-container .select2-selection--multiple{
	overflow-y: auto;
	overflow-x: hidden;
	height: 52px;
	word-break	:break-all;
	white-space	:normal;
}

/* --- Animations --- */
@keyframes fadeIn {
	from {opacity: 0} 
	to {opacity: 1}
}

/* --- For Laptop - PC Screens (Default screen) --- */
@media only screen and (min-width:991px) {
	.content_big{
		padding-left: 250px;
	}
}

/* --- For Mobile Screens --- */
@media only screen and (max-width:990px) {
	.menu{
		left: -250px;
	}

	.header_menu_toggle{
		display: block;
	}

	.navigation{
		float: right;
		border: none;
		margin-top: 25px;
		margin-right: 10px;
		background-color: white;
		border-radius: 3px;
		cursor: pointer;
	}

	/* Collasped to Grid 1, re-order the child div */
	.grid_2,
	.grid_3{
		grid-gap: 25px 60px;
		grid-template-columns: calc(100% - 15px*2);
	}

	.grid_2 div,
	.grid_3 div{
		grid-area: initial !important;
	}
}