body{
	margin: 0;
	overflow: hidden;
}

#bg-img{
	position: absolute;
	top: -10%;
	left: -1%;
	z-index: -1;
	width: 102%;
	height: auto;
	filter: blur(5px);
}

.form-login{
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	border-radius: 20px;
	margin: auto;
	width: 260px;
	padding: 1%;
	top: 30%;
	left: 0;
	right: 0;
}

.form-login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.form-login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.form-login button{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.form-login button:hover{
	opacity: 0.8;
}

.form-login button:active{
	opacity: 0.6;
}

.form-login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.form-login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.form-login button:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.alert {
	padding: 10px;
	background-color: #f44336;
	color: white;
	margin-bottom: 15px;
	border-radius: 3px;
}

.success {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	margin-bottom: 15px;
	border-radius: 3px;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}