@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-toggle:before { content: "\f100"; }
.flaticon-002-menu:before { content: "\f101"; }
.flaticon-003-show:before { content: "\f102"; }
.flaticon-004-home:before { content: "\f103"; }
.flaticon-005-layers:before { content: "\f104"; }
.flaticon-006-link:before { content: "\f105"; }
.flaticon-007-share:before { content: "\f106"; }
.flaticon-008-notifications:before { content: "\f107"; }
.flaticon-009-power-button:before { content: "\f108"; }
.flaticon-010-microphone:before { content: "\f109"; }
.flaticon-011-volume:before { content: "\f10a"; }
.flaticon-012-resize:before { content: "\f10b"; }
.flaticon-013-close:before { content: "\f10c"; }
.flaticon-014-pencil:before { content: "\f10d"; }
.flaticon-015-wireless:before { content: "\f10e"; }
.flaticon-016-user:before { content: "\f10f"; }
.flaticon-017-camera:before { content: "\f110"; }
.flaticon-018-video-camera:before { content: "\f111"; }
.flaticon-019-rec:before { content: "\f112"; }
.flaticon-020-brightness:before { content: "\f113"; }
.flaticon-021-support:before { content: "\f114"; }
.flaticon-022-exit:before { content: "\f115"; }
.flaticon-023-battery-status:before { content: "\f116"; }
.flaticon-024-desktop:before { content: "\f117"; }
.flaticon-025-laptop:before { content: "\f118"; }
.flaticon-026-smartphone:before { content: "\f119"; }
.flaticon-027-favourite:before { content: "\f11a"; }
.flaticon-028-bookmark:before { content: "\f11b"; }
.flaticon-029-flag:before { content: "\f11c"; }
.flaticon-030-inbox:before { content: "\f11d"; }
.flaticon-031-email:before { content: "\f11e"; }
.flaticon-032-email:before { content: "\f11f"; }
.flaticon-033-send:before { content: "\f120"; }
.flaticon-034-settings:before { content: "\f121"; }
.flaticon-035-new-window:before { content: "\f122"; }
.flaticon-036-location:before { content: "\f123"; }
.flaticon-037-search:before { content: "\f124"; }
.flaticon-038-trash-bin:before { content: "\f125"; }
.flaticon-039-padlock:before { content: "\f126"; }
.flaticon-040-security:before { content: "\f127"; }
.flaticon-041-copy:before { content: "\f128"; }
.flaticon-042-clipboard:before { content: "\f129"; }
.flaticon-043-folder:before { content: "\f12a"; }
.flaticon-044-document:before { content: "\f12b"; }
.flaticon-045-image:before { content: "\f12c"; }
.flaticon-046-paperclip:before { content: "\f12d"; }
.flaticon-047-push-pin:before { content: "\f12e"; }
.flaticon-048-chat-bubble:before { content: "\f12f"; }
.flaticon-049-clock:before { content: "\f130"; }
.flaticon-050-calendar:before { content: "\f131"; }

$font-Flaticon-001-toggle: "\f100";
$font-Flaticon-002-menu: "\f101";
$font-Flaticon-003-show: "\f102";
$font-Flaticon-004-home: "\f103";
$font-Flaticon-005-layers: "\f104";
$font-Flaticon-006-link: "\f105";
$font-Flaticon-007-share: "\f106";
$font-Flaticon-008-notifications: "\f107";
$font-Flaticon-009-power-button: "\f108";
$font-Flaticon-010-microphone: "\f109";
$font-Flaticon-011-volume: "\f10a";
$font-Flaticon-012-resize: "\f10b";
$font-Flaticon-013-close: "\f10c";
$font-Flaticon-014-pencil: "\f10d";
$font-Flaticon-015-wireless: "\f10e";
$font-Flaticon-016-user: "\f10f";
$font-Flaticon-017-camera: "\f110";
$font-Flaticon-018-video-camera: "\f111";
$font-Flaticon-019-rec: "\f112";
$font-Flaticon-020-brightness: "\f113";
$font-Flaticon-021-support: "\f114";
$font-Flaticon-022-exit: "\f115";
$font-Flaticon-023-battery-status: "\f116";
$font-Flaticon-024-desktop: "\f117";
$font-Flaticon-025-laptop: "\f118";
$font-Flaticon-026-smartphone: "\f119";
$font-Flaticon-027-favourite: "\f11a";
$font-Flaticon-028-bookmark: "\f11b";
$font-Flaticon-029-flag: "\f11c";
$font-Flaticon-030-inbox: "\f11d";
$font-Flaticon-031-email: "\f11e";
$font-Flaticon-032-email: "\f11f";
$font-Flaticon-033-send: "\f120";
$font-Flaticon-034-settings: "\f121";
$font-Flaticon-035-new-window: "\f122";
$font-Flaticon-036-location: "\f123";
$font-Flaticon-037-search: "\f124";
$font-Flaticon-038-trash-bin: "\f125";
$font-Flaticon-039-padlock: "\f126";
$font-Flaticon-040-security: "\f127";
$font-Flaticon-041-copy: "\f128";
$font-Flaticon-042-clipboard: "\f129";
$font-Flaticon-043-folder: "\f12a";
$font-Flaticon-044-document: "\f12b";
$font-Flaticon-045-image: "\f12c";
$font-Flaticon-046-paperclip: "\f12d";
$font-Flaticon-047-push-pin: "\f12e";
$font-Flaticon-048-chat-bubble: "\f12f";
$font-Flaticon-049-clock: "\f130";
$font-Flaticon-050-calendar: "\f131";