@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-toggle:before { content: "\f100"; }
.flaticon-002-menu:before { content: "\f101"; }
.flaticon-003-show:before { content: "\f102"; }
.flaticon-004-home:before { content: "\f103"; }
.flaticon-005-layers:before { content: "\f104"; }
.flaticon-006-link:before { content: "\f105"; }
.flaticon-007-share:before { content: "\f106"; }
.flaticon-008-notifications:before { content: "\f107"; }
.flaticon-009-power-button:before { content: "\f108"; }
.flaticon-010-microphone:before { content: "\f109"; }
.flaticon-011-volume:before { content: "\f10a"; }
.flaticon-012-resize:before { content: "\f10b"; }
.flaticon-013-close:before { content: "\f10c"; }
.flaticon-014-pencil:before { content: "\f10d"; }
.flaticon-015-wireless:before { content: "\f10e"; }
.flaticon-016-user:before { content: "\f10f"; }
.flaticon-017-camera:before { content: "\f110"; }
.flaticon-018-video-camera:before { content: "\f111"; }
.flaticon-019-rec:before { content: "\f112"; }
.flaticon-020-brightness:before { content: "\f113"; }
.flaticon-021-support:before { content: "\f114"; }
.flaticon-022-exit:before { content: "\f115"; }
.flaticon-023-battery-status:before { content: "\f116"; }
.flaticon-024-desktop:before { content: "\f117"; }
.flaticon-025-laptop:before { content: "\f118"; }
.flaticon-026-smartphone:before { content: "\f119"; }
.flaticon-027-favourite:before { content: "\f11a"; }
.flaticon-028-bookmark:before { content: "\f11b"; }
.flaticon-029-flag:before { content: "\f11c"; }
.flaticon-030-inbox:before { content: "\f11d"; }
.flaticon-031-email:before { content: "\f11e"; }
.flaticon-032-email:before { content: "\f11f"; }
.flaticon-033-send:before { content: "\f120"; }
.flaticon-034-settings:before { content: "\f121"; }
.flaticon-035-new-window:before { content: "\f122"; }
.flaticon-036-location:before { content: "\f123"; }
.flaticon-037-search:before { content: "\f124"; }
.flaticon-038-trash-bin:before { content: "\f125"; }
.flaticon-039-padlock:before { content: "\f126"; }
.flaticon-040-security:before { content: "\f127"; }
.flaticon-041-copy:before { content: "\f128"; }
.flaticon-042-clipboard:before { content: "\f129"; }
.flaticon-043-folder:before { content: "\f12a"; }
.flaticon-044-document:before { content: "\f12b"; }
.flaticon-045-image:before { content: "\f12c"; }
.flaticon-046-paperclip:before { content: "\f12d"; }
.flaticon-047-push-pin:before { content: "\f12e"; }
.flaticon-048-chat-bubble:before { content: "\f12f"; }
.flaticon-049-clock:before { content: "\f130"; }
.flaticon-050-calendar:before { content: "\f131"; }